<div class="flex flex-col gap-4" data-controller="datetime-picker-component">
  <div data-action="click->datetime-picker-component#toggle">
    <%= datetime_badge %>
  </div>

  <div class="<%= helpers.class_names(%w(w-fit flex flex-col p-4 gap-4 bg-accent rounded-xl absolute z-100 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 hidden)) %>" data-datetime-picker-component-target="datetimePicker">
    <%= render DatePickerComponent.new do %>
      <%= date_field %>
    <% end %>

    <div class="w-full h-px bg-primary"></div>

    <div class="flex justify-around items-center">
      <%= render TimePickerComponent.new do %>
        <%= time_field %>
      <% end %>

      <div class="w-fit px-2 flex items-center justify-center cursor-pointer">
        <%= helpers.inline_svg("cycle-svgrepo-com.svg", class: "h-8 w-8") %>
      </div>
    </div>

    <div class="w-full h-px bg-primary"></div>

    <div class="flex gap-4 justify-end">
      <div class="w-fit px-2 flex flex-grow items-center justify-start cursor-pointer">
        <%= helpers.inline_svg("trash-can-svgrepo-com.svg", class: "h-6 w-6") %>
      </div>
      <div class="rounded-full px-4 py-2 cursor-pointer" data-action="click->datetime-picker-component#hide">Cancel</div>
      <div class="rounded-full px-4 py-2 cursor-pointer bg-secondary" data-action="click->datetime-picker-component#hide">Done</div>
    </div>
  </div>
</div>
