<div class="flex" data-controller="task-form-component" data-task-id="<%= task.id %>">
  <%= form_with(model: task, class: "flex flex-grow") do |form| %>
    <div class="flex flex-grow flex-col">
      <%= form.text_field :title, id: dom_id(task, :title), class: "w-full bg-transparent border-none ring-0 p-0", placeholder: "Title", autocomplete: "off", data: { task_form_component_target: "title" } %>
      <%= form.text_area :description, id: dom_id(task, :description), class: "w-full text-xs opacity-75 bg-transparent border-none ring-0 p-0 resize-none", rows: 1, placeholder: "Description", autocomplete: "off", data: { task_form_component_target: "description" } %>

      <%= render DatetimePickerComponent.new do |component| %>
        <% component.with_datetime_badge do %>
          <div class="text-xs w-fit mt-1 px-2 cursor-pointer rounded-full border-1 hover:bg-primary flex items-center justify-center" data-task-form-component-target="due_at">
            <%= formatted_due_at || helpers.inline_svg("calendar-circle-plus-svgrepo-com.svg", class: "h-4 w-4", aria: { label: "Open date and time picker" }) %>
          </div>
        <% end %>
        <% component.with_date_field do %>
          <%= form.date_field :due_date, autocomplete: "off", class: "hidden" %>
        <% end %>
        <% component.with_time_field do %>
          <%= form.text_field :due_time, autocomplete: "off", class: "w-full p-2 text-sm placeholder-neutral bg-transparent border-0 ring-0", placeholder: "Set time" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
