<%= tag.div id: dom_id(task), class: "flex p-1 hover:bg-accent drag-handle", data: data_options do %>
  <%= render CheckBoxComponent.new do |component| %>
    <%= form_with(model: task) do |form| %>
      <% component.with_checkbox_peer do %>
        <%= form.checkbox :completed, id: dom_id(task, :completed), class: "sr-only peer", autocomplete: "off", data: { action: "change->task-component#toggleCompletion" } %>
      <% end %>
    <% end %>
  <% end %>

  <div class="flex flex-grow flex-col cursor-default" data-task-component-target="display" data-action="click->task-component#dispatchClicked">
    <div data-task-attribute="title"><%= task.title %></div>
    <div class="text-xs opacity-75" data-task-attribute="description"><%= task.description %></div>
    <div class="text-xs w-fit mt-1 px-2 cursor-pointer rounded-full border-1 hover:bg-primary flex items-center justify-center" data-task-attribute="due_at">
      <%= helpers.formatted_due_at(task) || helpers.inline_svg("calendar-circle-plus-svgrepo-com.svg", class: "h-4 w-4", aria: { label: "Open date and time picker" }) %>
    </div>
  </div>

  <div class="hidden flex flex-grow flex-col" data-task-component-target="form">
    <%= render TaskFormComponent.new(task: task) %>
  </div>

  <% if task.persisted? %>
    <div class="relative flex items-center ml-auto" data-controller="dropdown">
      <span class="px-1 cursor-pointer rounded-lg hover:bg-rose-400" data-action="click->dropdown#toggle click@window->dropdown#hide">
        &#x22EE;
      </span>

      <div class="hidden flex flex-col absolute right-0 top-10 z-10 rounded-lg py-2 bg-slate-800 border border-slate-800"
           data-dropdown-target="menu"
           data-transition-enter="transition ease-out duration-200"
           data-transition-enter-from="opacity-0 translate-y-1"
           data-transition-enter-to="opacity-100 translate-y-0"
           data-transition-leave="transition ease-in duration-150"
           data-transition-leave-from="opacity-100 translate-y-0"
           data-transition-leave-to="opacity-0 translate-y-1">
        <span class="cursor-pointer px-4 py-1 hover:bg-rose-400" data-action="click->task-component#deleteTask">Delete</span>
      </div>
    </div>
  <% end %>
<% end %>
